doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registeration form
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(rel="stylesheet" href="assets/css/styles.css")  
body
 main(style='align-self: center; margin-left:10%;')
  .container-fluid.pt-4
    .col-md-10
      .card
        .card-header.text-white.bg-dark
          h1.card-title GENQ KYC FORM
        .card-body
          if message
              .alert.bg-success
                    p.text-white
                      strong #{message}
                    button.btn.text-white(onclick="return hideMessage();")
                      span &times; 
          form#register_form(onsubmit='return validateForm();' method="post" action="/")
            .row
              h2.text-secondary Bio Data
              hr
            .row
              .col-md-6.pr-1
                .form-group
                  input#first_name.form-control(type='text' placeholder='First Name' name='first_name')
                  p#fnameErr.text-danger
              .col-md-6.pr-1
                .form-group
                  input#last_name.form-control(type='text' placeholder='Last Name' name='last_name' )
                  p#lnameErr.text-danger
            .row
              .col-md-6.pr-1
                .form-group
                  input#date_of_birth.form-control(type='date' placeholder='Date of Birth (DD/MM/YYYY)' name='date_of_birth')
              .col-md-6.pr-1
                .form-group
                  select#gender.form-select(name='gender')
                    option(value="" selected disabled) Select Gender
                    option(value='Male') Male
                    option(value='Female') Female
            .row
              h2.text-secondary Location
              hr
            .row
                .col-md-6.pr-1
                 .form-group
                  select#country.form-select(name='country')
                    option(value="" selected disabled) Country
                    option(value='Uganda') Uganda
                    option(value='Kenya') Kenya
                    option(value='Tanzania') Tanzania 
                    option(value='Burundi') Burundi
                    option(value='Rwanda') Rwanda
                    option(value='South Sudan') South Sudan
                .col-md-6.pr-1    
                 .form-group
                    input#state.form-control(type='text' placeholder='State/District' name='state' )
            .row
              .col-md-6.pr-1
                .form-group
                    input#town.form-control(type='text' placeholder='Town' name='town' )
              .col-md-6.pr-1
                .form-group
                    input#zip.form-control(type='text' placeholder='Zip Code' name='zip-code' )
            .row
              h2.text-secondary Contacts and Address 
              hr
            .row 
              .col-md-6.pr-1
                .form-group
                    input#phone1.form-control(type='tel' placeholder='Phone Number 1' name='phone1' )
              .col-md-6.pr-1
                .form-group
                    input#phone2.form-control(type='tel' placeholder='Phone Number 2' name='phone2' )
            .row 
              .col-md-12.pr-1
                 .form-group
                    input#email.form-control(type='email' placeholder='Email' name='email' ) 
            .row
             .col-md-6.pr-1(style="justify-content:right;")
              .form-group
                input.btn.btn-warning.btn-round.text-white.form-control(type='submit' value='SUBMIT')

script(src='/assets/js/validations.js')

